{
  "extends": ["stylelint-config-recommended-scss"],
  "rules": {"selector-class-pattern": "^.[a-z]([a-z0-9-]+)?(__([a-z0-9]+-?)+)?(--([a-z0-9]+-?)+){0,2}$",
  "scss/at-rule-no-unknown": true,
  "comment-no-empty": true,
  "no-empty-source": true,
  "font-family-no-duplicate-names": true,
  "color-no-invalid-hex": true,
  "string-no-newline": true,
  "unit-no-unknown": true,
  "property-no-unknown": true,
  "declaration-block-no-duplicate-custom-properties": true,
  "declaration-block-no-duplicate-properties": true,
  "declaration-block-no-shorthand-property-overrides": true,
  "block-no-empty": null,
  "selector-pseudo-class-no-unknown": true,
  "selector-pseudo-element-no-unknown": true,
  "selector-type-no-unknown": true,
  "media-feature-name-no-unknown": true,
  "no-extra-semicolons": true,
  "no-invalid-double-slash-comments": true,
  "color-named": "never",
  "length-zero-no-unit": true,
  "font-weight-notation": "named-where-possible",
  "declaration-no-important": true,
  "color-hex-length": "long",
  "function-name-case": "lower",
  "unit-case": "lower",
  "number-no-trailing-zeros": true,
  "property-case": "lower",
  "declaration-colon-space-after": "always-single-line",
  "block-closing-brace-newline-after": "always",
  "selector-type-case": "lower",
  "selector-pseudo-element-case": "lower",
  "selector-pseudo-class-case": "lower",
  "selector-descendant-combinator-no-non-space": true,
  "at-rule-name-space-after": "always",
  "at-rule-name-case": "lower",
  "comment-whitespace-inside": "always"
  }
}